.admin-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  min-height: 1000px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.auth-info {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 90%;
  text-wrap: wrap;
}

.auth-input {
  border: none;
  box-shadow: 0px 0px 1px 1px #808080;
  font-family: Poppins, sans-serif;
  height: 30px;
  padding: 5px 20px;
  width: 360px;

  @media (max-width: 550px) {
    width: 260px;
  }
}

.admin-button {
  border: none;
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  min-height: 50px;
  min-width: 150px;
  transition: 0.2s;
  width: 200px;

  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

.admin-display {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px 0px;
  gap: 10px;
}

.admin-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-candle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 70%;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: solid 1px;
  padding: 5px 10px;
}

.admin-candle-info {
  width: 200px;
  margin: 0px;
}

.admin-question {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  gap: 20px;
  justify-content: space-evenly;
  text-align: center;
  border: solid 1px;
}

.admin-question-info {
  width: 200px;
  margin: 0px;
  border-right: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px;
  padding: 20px 25px;
}

.admin-order-section {
  display: flex;
  flex-direction: column;
}

.admin-order-section-headers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-bottom: none;
  border-right: none;
}

.admin-order-section-data {
  display: flex;
  border: solid 1px;
  border-right: none;
}

.admin-order-info {
  width: 200px;
  min-height: 50px;
  margin: 0;
  border-right: solid 1px;
  overflow-wrap: break-word;
}

.admin-order-items-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.admin-order-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border: solid 1px;
  border-right: none;
}

.color-square {
  display: flex;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 2px 1px gray;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.section-single {
  display: flex;
  width: 400px;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 10px 20px;
}

.section-single header {
  font-size: larger;
  font-weight: 500;
  margin: 10px;
}

.single-order-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single-order-details header {
  font-weight: 500;
  font-size: medium;
  margin: 0;
}

.single-order-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-detail {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  width: 88px;
  height: 50px;
  word-break: break-all;
}

.admin-candle-image {
  width: 300px;
  margin-bottom: 10px;
}

.admin-input {
  border: none;
  box-shadow: 0px 0px 1px 1px #808080;
  font-family: Poppins, sans-serif;
  height: 30px;
  padding: 5px 20px;
  width: 360px;

  @media (max-width: 550px) {
    width: 260px;
  }
}

.text-wrap {
  text-wrap: break-word;
  overflow-wrap: break-word;
}