.candles {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  min-height: 1000px;
}

.candles-info {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 90%;
}

.candles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}