.candle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  gap: 5px;
  background-color: #ffffff;
  transition: 0.2s;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 0px 10px 1px gray;
  }
}

.candle-image {
  width: 280px;
  margin-bottom: 10px;
}

.candle-name {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

.confirm-button,
.cancel-button {
  font-family: Poppins, arial;
}

.confirm-button {
  background-color: #f568a9 !important;
}

.cancel-button {
  background-color: #12bca2 !important;
}

.candle-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.candle-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.candle-select {
  height: 30px;
  width: 70%;
  border: solid 1px var(--primary);
  border-radius: 5px;
  font-family: Poppins;
  text-align: center;
  outline-color: var(--primary);
}

.candle-color {
  height: 30px;
  width: 70%;
  border: solid 1px var(--primary);
  border-radius: 5px;
  outline-color: var(--primary);
}

.candle-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
}

.candle-button {
  width: 90%;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  background-color: var(--primary);
  border: none;
  height: 50px;
  color: #ffffff;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

.candle-discount-container {
  display: flex;
  gap: 10px;
}

.original-price {
  text-decoration-line: line-through;
  color: #808080;
}

.candle-discount {
  position: absolute;
  height: 30px;
  width: 50px;
  background-color: var(--secondary);
  color: #ffffff;
  margin-top: -500px;
  margin-left: -235px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.candle-header {
  color: var(--primary);
  font-weight: 500;
}

.favourite-icon {
  width: 30px;
  position: absolute;
  margin-top: -570px;
  margin-right: -260px;

  &:hover {
    cursor: pointer;
  }
}