.cart-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cart-display {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 20px;
  min-height: 100px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 5px;
  height: 100px;
  background-color: var(--primary);
  color: white;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 10px;
    height: 60px;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border: solid 1px #808080;
  border-radius: 5px;
  height: 100px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 10px;
    height: 60px;
  }
}

.cart-color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  text-align: center;
  box-shadow: 0px 0px 5px 3px #e6e6e6;
  background-color: #e6e6e6;
}

.color {
  height: 90px;
  width: 90px;
  text-align: center;
  border-radius: 15px;
}

.cart-image {
  height: 90px;

  @media (max-width: 768px) {
    height: 45px;
  }
}

.cart-width-medium {
  width: 100px;

  @media (max-width: 768px) {
    width: 80px;
  }
}

.cart-width-large {
  width: 150px;

  @media (max-width: 768px) {
    width: 120px;
  }
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  position: relative;
  right: 5%;

  @media (max-width: 768px) {
    justify-content: center;
    position: static;
  }
}

.cart-candle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-candle-image {
  width: 50px;
  z-index: 2;

  @media (max-width: 768px) {
    width: 25px;
  }
}

.cart-candle-color {
  position: absolute;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  font-size: 7px;
  z-index: 1;

  @media (max-width: 768px) {
    margin-top: 8px;
    width: 15px;
    height: 15px;
    font-size: 3px;
  }
}

.cart-select {
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 10px 3px var(--primary);
  background-color: var(--primary);
  border-radius: 20px;

  @media (max-width: 768px) {
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 5px 1px var(--primary);
  }
}