.favourites {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}

.favourites-info {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 90%;
}