nav {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #f568a9;
}

.promotional-section {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
}

.upper-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.logo {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #f568a9;
  border-radius: 20px;
  padding: 5px 15px;
  gap: 5px;
  transition: 0.2s;
  box-shadow: none;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px #f568a9;
  }
}

.logo-img {
  margin: 0px;
  width: 80px;
}

.logo-name {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  color: #f568a9;
  font-weight: 500;
  font-size: 22px;
  width: 120px;
}

.shopping-status {
  position: fixed;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shopping-status-container {
  display: flex;
  align-items: center;
}

.shopping-status-icon {
  width: 40px;
}

.shopping-status-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  width: 18px;
  height: 18px;
  margin-left: -15px;
  margin-top: -25px;
  border-radius: 15px;
  color: white;
}

.redbg {
  background-color: #ff0000;
}

.bluebg {
  background-color: rgb(0, 60, 255);
}

.lower-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f568a9;
  height: 50px;
  font-weight: 500;
}

.lower-section a {
  color: black;
}

.nav-button {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 15px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
}